In [2]:
# This program demonstrates how the range
 # function can be used with a for loop.

 # Print a message five times.
for x in range(5):
    print('Hello world')

Hello world
Hello world
Hello world
Hello world
Hello world

In [3]:
for y in range(10):
    print("jibril")

jibril
jibril
jibril
jibril
jibril
jibril
jibril
jibril
jibril
jibril

In [10]:
for number in range(1, 11):
 square = number**2
 print(number, '\t', square)

1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [11]:
for number in range(1,20):
    square = number**2
    print(number,"\t", square)

1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100
11 	 121
12 	 144
13 	 169
14 	 196
15 	 225
16 	 256
17 	 289
18 	 324
19 	 361

In [16]:
print('KPH\tMPH')
print('--------------')

 # Print the speeds.
for kph in range(START_SPEED, END_SPEED, INCREMENT):
     mph = kph * CONVERSION_FACTOR
         print(kph, '\t', format(mph, '.1f'))

IndentationError: unexpected indent (3028794976.py, line 7)

In [18]:
print('This program displays a list of numbers')
print('and their squares.') 
start = int(input('Enter the starting number: '))
end = int(input('How high should I go? '))
print()
print('Number\tSquare')
print('--------------')
for number in range(start, end + 1):
    square = number**2
print(number, '\t', square)

This program displays a list of numbers
and their squares.
Enter the starting number: 5
How high should I go? 10

Number	Square
--------------
10 	 100

In [21]:
x = x + 4
y+=5

In [24]:
score = int(input('Enter a test score: '))
while score < 0:
    print('ERROR: The score cannot be negative.')
score = int(input('Enter the correct score: '))

Enter a test score: 100
Enter the correct score: 50

In [25]:
for col in range(6):
    print('*',end='')

******